@font-face {
   font-family: 'Impact Label Reversed';
   font-display: swap;
   src: url('file:///Users/shuzm/Library/Application%20Support/Mobirise.com/Mobirise/projects/project-2020-02-18_142133/fonts/Impact%20Label%20Reversed/font.ttf');
}
